{% extends 'base.html' %}

{% block content %}
    {% for channel in channelUpdates %}
        <h3> {{ channel }} </h3>
        <div class="row">
        {% for video in channelUpdates[channel] %}
            <div class="col-md-*" style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
            <div>
            <a href={{ video['link'] }} target="_blank">
                <img src={{ video['thumbnail'] }}  alt= {{ video['link'] }} class="img-thumbnail"> 
                <div class="caption">
                <span class="badge badge-primary">{{ video['title'] }}</span>
                </a>
                {{ video['views'] }}
                </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <hr>
    {% endfor %}
{% endblock %}